blockquote {
	font-size:medium;
  line-height: 1.5em;
}

h3 {
  margin-top: 45px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


hr {
  margin-top: 20px;
  margin-bottom: 2	0px;
}

.case {
	margin-left: 20px;
	margin-bottom: 40px;
}


.close {
  float: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}